#head 
{
	width: 100%;
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
	background-color: #111;
	color: #f1f1f1;
	border-bottom: 1px solid #ddd;
}

#head h4
{
    display: inline-block;
    width: 85%;
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
	text-align: center;
}

#head h4 .title
{
    display: inline-block;
    margin: 1rem;
    padding: 0;
}

#search-icon
{
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

#search-icon:hover
{
    cursor: pointer;
}

#search-overlay
{
    position: fixed;
    top: 0;
    display: none;
    height: 100vh;
    width: 100vw;
    background:rgba(255, 255, 255, 0.95);
    color: #333;
    margin: 0;
    padding: 1rem;
    z-index: 2;
}

#search-overlay .close-button
{
    font-size: 2rem;
    font-weight: bold;
    width: 85%;
    padding-left: 1rem;
}

#search-overlay #close-icon:hover
{
    cursor: pointer;
}

#searchText
{
    line-height: 1.5rem;
    font-size: 1.25rem;
    border: 2px solid #333;
	-moz-border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	border-radius: 0.25rem;
	margin: 1rem 0;
}

#search
{
    line-height: 1.5rem;
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

#search-results
{
    width: 80%;
    margin-top: 1rem;
}

#matchedCardList
{
    list-style-type: none;
}

#matchedCardList li
{
    margin-bottom: 0.5rem;
}

#page-content
{
	margin: 3.5rem 1rem 3rem 1rem;
	padding: 1rem;
	background-color: white;
	color: #333;
}

.card-overlay
{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.95);
    color: #333;
    margin: 0;
    padding: 1rem;
    z-index: 3;
}

.matched-card-name:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.invisible
{
    background:rgba(255, 255, 255, 0) !important;
}

@media only screen and (max-width: 600px)
{
    #head h4 { font-size: 1.25rem; }
}
