#search-results
{
    width: 80%;
    margin-top: 1rem;
}

#matchedCardList
{
    list-style-type: none;
}

#matchedCardList li
{
    margin-bottom: 0.5rem;
}

.card-overlay
{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.95);
    color: #333;
    margin: 0;
    padding: 1rem;
    z-index: 3;
}

.matched-card-name
{
    display: inline-block;
}

.matched-card-name:hover
{
    cursor: pointer;
    text-decoration: underline;
}
